.form-group {
  input,
  textarea {
    color: black;
    border: none;
    border-radius: unset;
    box-shadow: 3px 3px 2px -2px rgba(0, 0, 0, 0.3);

    &:focus {
      box-shadow: 4px 4px 2px -1px rgba(0, 0, 0, 0.3);
    }
  }

  button {
    border-radius: 0px;
    border: none;
    background: black;
    font-size: 1.1em;
    transition: all 0.3s ease-in-out 0s;

    &:hover {
      background: rgb(20, 20, 20);
    }

    &:active {
      background: black !important;
      box-shadow: none !important;
    }

    &:focus {
      box-shadow: 4px 4px 2px -1px rgba(0, 0, 0, 0.3) !important;
      background: white !important;
      color: black !important;
    }
  }

  .form-error {
    border: none;
    border-radius: 0px;
    background: red;
    color: white;
    text-transform: uppercase;
    opacity: 0;
    min-height: 0;
    box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.3);
    animation: show 0.5s ease-in-out forwards;
    overflow: hidden;
  }
}
