.jumbotron {
  position: relative;
  top: 0;
  left: 0;
  background: transparent;
  height: 100vh;
  color: white;

  .org-name {
    h2 {
      position: relative;
      font-size: 0.8em;
      font-family: 'Open Sans', Arial, sans-serif;
      font-weight: 400;
      letter-spacing: 8px;
      text-transform: uppercase;

      &::before {
        position: absolute;
        top: 49%;
        right: -170px;
        content: '';
        width: 45%;
        height: 1px;
        background: #fff;
      }

      &::after {
        position: absolute;
        top: 49%;
        left: -180px;
        content: '';
        width: 45%;
        height: 1px;
        background: #fff;
      }
    }
  }

  .message {
    font-size: 6em;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 10px;
    font-family: 'Lora', Georgia, serif;
    text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.4);
    text-transform: uppercase;
  }

  .blockquote {
    text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.1);
  }
}

@media screen and (max-width: 769px) {
  .jumbotron {
    .message {
      font-size: 5em;
    }
  }
}

@media screen and (max-width: 501px) {
  .jumbotron {
    .message {
      font-size: 4em;
    }
  }
}

@media screen and (max-width: 450px) {
  .jumbotron {
    .org-name h2 {
      font-size: 0.6em;

      &::before,
      &::after {
        width: 50%;
      }
    }

    .message {
      font-size: 3em;
    }

    .blockquote {
      font-size: 0.9em;
    }
  }
}

@media screen and (max-width: 400px) {
  .jumbotron {
    .message {
      font-size: 2.5em;
    }

    .blockquote {
      font-size: 0.9em;
    }
  }
}

@media screen and (max-width: 350px) {
  .jumbotron {
    .org-name h2 {
      font-size: 0.5em;
      letter-spacing: 4px;

      &::before,
      &::after {
        width: 70%;
      }
    }

    .message {
      font-size: 2em;
    }

    .blockquote {
      font-size: 0.8em;
    }
  }
}
